* {
    margin: 0;
    padding: 0;
}

mat-toolbar {
    background: #efefef;
    display: flex;
}

.material-icons {
    font-size: 35px;
}

button {
    padding: 0;
}

mat-icon {
    width: 35px;
    height: 35px;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 35px;
}

div {
    padding: 10px;
    cursor: pointer;
}